
<p id="notice"><%= notice %></p>

<p>
  <strong>Companyname:</strong>
  <%= @business.companyname %>
</p>

<p>
  <strong>Telephone:</strong>
  <%= @business.telephone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @business.email %>
</p>

<p>
  <strong>Website:</strong>
  <%= @business.website %>
</p>

<p>
  <strong>Address:</strong>
  <%= @business.address %>
</p>

<p>
  <strong>Active:</strong>
  <%= @business.active %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @business.rating %>
</p>

<%= link_to 'Edit', edit_business_path(@business) %> |
<%= link_to 'Back', businesses_path %>

